body {
    margin: 30px;
    font-family: "arial";
    text-align: center;
    line-height: 150%;
    font-size: 11pt;    
}


.body-hide {
    margin: 30px;
    font-family: "arial";
    text-align: center;
    line-height: 150%;
    font-size: 11pt;
    background: #545454;
}

.p {
    margin: 20px 0;
}

h1 {
/*     border-bottom: 1px dotted #666; */
    line-height: 150%;
    font-size: 28pt;
    font-weight: normal;
}

th {
    text-align: right;
    padding-right: 15px;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
}

td {
    padding: 3px 5px;
    text-align: left;
}

tfoot {
    font-weight: bold;
}

.order-items {
    margin: 20px auto; 
    min-width: 600px;
}

.order-items td, .order-items th {
    border: 1px solid #AAA;
    border-color: #AAA;
}

.order-items .total {
    text-align: right;
    padding-right: 10px;
}

form input[type=text], form input[type=phone] {
    font-size: 16px;
    line-height: 20px;
}

form input[type=submit] {
    font-size: 16px;
    height: 40px;
    display: block;
    width: 300px;
    margin: 10px auto;
}

.smile { 
  font-size: 25px; 
  /* isplay: block; */
}

.form-block {
    margin: 10px;
}

.call-to-action-block {
    postion: absolute;
}

.call-to-action-block {
    position: absolute;
    margin: -165px 195px;
    background: #fff;
    border: 1px solid #cacaca;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
}

.call-to-action-block:after, .call-to-action-block:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.call-to-action-block:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.call-to-action-block:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #cacaca;
    border-width: 16px;
    margin-left: -16px;
}








body { margin: 0; background: url("../images/main-bg.jpg") 50% 0 repeat-x; }

ul, li { padding: 0; margin: 0; list-style: none; }

.wrapper { width: 1000px; margin: 0 auto; }

.wrapper .bolder { font-weight: bold; letter-spacing: 0; word-spacing: 0; }

.wrapper .colored { color: #f00; }

.block1s { position: relative; padding: 1px 0 0; }

.block1-head { height: 154px; width: 929px; margin: 5px 0 0 14px; background: url("../images/block1-head.png") 0 0 no-repeat; }

.clr { clear: both; }

.block1-list { padding: 39px 0 0 100px; width: 540px; float: left; background: url("../images/block1-list.png") 10px 30px no-repeat; }

.block1-list li { font: 20px/24px "cuprumregular", arial; word-spacing: -0.1ex; letter-spacing: 0.1ex; padding: 0 0 22px; color: #262626; }

.block1-list .bolder { letter-spacing: 0; }

.block1-img { height: 436px; width: 307px; float: left; margin: -34px 0 0 4px; background: url("../images/block1-img.png") 0 0 no-repeat; }

.block1 p { text-align: center; font: 20px/24px "cuprumregular", arial; margin: 8px 0 0; letter-spacing: 0.1ex; word-spacing: -0.1ex; }

.block1 .bolder { letter-spacing: 0; }

.block1-button { display: block; margin: 21px auto 0; height: 86px; width: 353px; background: url("../images/block1-button.png") 0 0 no-repeat; }

.block1-button:hover { background-position: 0 100%; }

.block2-img { height: 232px; width: 750px; background: url("../images/block2-img.png") 0 0 no-repeat; margin: 24px 0 0 120px; }

.block2-art1 { height: 422px; width: 605px; margin: 29px auto 0; background: url("../images/block2-art1.png") 0 0 no-repeat; }

.block2-art1 .text { width: 190px; padding: 172px 0 0 390px; font: 18px/20px "cuprumregular", arial; color: #262626; }

.block2-art2 { width: 890px; margin: 0 auto; }

.block2-art2 .art2-img { height: 182px; width: 182px; float: left; }

.block2-art2 .art2-img.lefted { margin: 0 0 0 30px; }

.block2-art2 .art2-img.righted { float: right; margin: -42px 2px 0 0; }

.art2-text { width: 590px; height: 182px; float: left; font: 20px/28px "cuprumregular", arial; color: #262626; letter-spacing: 0.1ex; word-spacing: -0.1ex; }

.art2-text.lefted { margin: 22px 0 0 42px; float: right; }

.art2-text.righted { margin: 0 0 0 6px; width: 650px; }

.block3 h2 { font: bold 40px/30px "cuprumregular", arial; margin: 20px 0 0; text-align: center; color: #a92d15; }

.block3 h2 .colored { color: #6b8429; font-size: 24px; }

.block3-text { margin: 40px 0 0 60px; height: 500px; background: url("../images/block3-img.png") 86.6% 54px no-repeat; }

.block3-text p { width: 520px; font: 18px/28px "ptsansregular", arial; color: #262626; margin: 0 0 28px; }

.block3-text p.colored { color: #6b8429; }

.block3-list { height: 340px; margin: 8px 0 0 168px; padding: 13px 0 0 282px; background: url("../images/block3-list.png") 0 0 no-repeat; }

.block3-list li { font: 24px/24px "ptsansregular", arial; letter-spacing: -0.1ex; word-spacing: 2px; color: #fc8323; padding-bottom: 36px; }

.block3-list .row1 { padding-left: 0; }

.block3-list .row2 { padding-left: 30px; }

.block3-list .row3 { padding: 0 0 42px 62px; }

.block3-list .row4 { padding-left: 32px; }

.block3-list .row5 { padding-left: 2px; }

.block3-main { margin: 0 0 0 76px; background: url("../images/block3-main.jpg") 85.8% 6px no-repeat; }

.block3-main h4 { font: bold 24px/28px "ptsansregular", arial; margin: -3px 0 27px; color: #fc8323; width: 540px; }

.block3-main p { width: 558px; color: #262626; font: 17px/28px "ptsansregular", arial; margin: 14px 0 20px; }

.block3-main .colored { color: #6b8429; letter-spacing: -0.1ex; word-spacing: 0; }

.block3-button { display: block; height: 93px; width: 393px; background: url("../images/block3-button.png") 0 0 no-repeat; margin: 52px auto 0; }

.block3-button:hover { background-position: 0 100%; }

.block4-art1 { height: 304px; width: 950px; margin: 50px 0 0 42px; background: url("../images/block4-img1.png") 0 0 no-repeat; }

.block4-art1 p { margin: 0; width: 540px; padding: 60px 0 0 344px; font: 18px/28px "ptsansregular", arial; color: #262626; letter-spacing: 0ex; }

.block4-art1 .colored { color: #da7a27; }

.block4-art2 { height: 234px; margin: 5px 0 0 10px; background: url("../images/block4-img2.png") 0 0 no-repeat; }

.block4-art2 p { margin: 0; padding: 30px 0 0 98px; width: 540px; font: 17px/28px "ptsansregular", arial; color: #262626; }

.block4-art3 { font: 17px/17px "ptsansregular", arial; margin: 12px 0; padding: 28px 0 22px 90px; background: url("../images/block4-img3.jpg") 82.4% 2px no-repeat; }

.block4-art3 .colored { color: #4d6c23; }

.block4-art4 { height: 220px; margin: 42px 0 0 54px; background: url("../images/block4-img4.png") 0 0 no-repeat; }

.block4-art4 p { margin: 0; width: 460px; padding: 14px 0 0 354px; font: 18px/28px "ptsansregular", arial; color: #262626; letter-spacing: -0.1ex; }

.block4-art4 .colored { color: #4d6c23; }

.block5-main { height: 752px; width: 905px; margin: 60px 0 0 46px; background: url("block5-img.jpg") 50% 0 no-repeat; }

.block5-text { font: 18px/28px "ptsansregular", arial; color: #262626; width: 800px; margin: 26px auto 0; text-align: center; }

.block5-text .colored { color: #a50021; }

.block5-art1 { height: 165px; margin: 10px 0 0 120px; background: url("block5-art1.jpg") 0 0 no-repeat; }

.block5-art1 p { margin: 0; font: 15px/20px "ptsansregular", arial; color: #262626; width: 540px; padding: 50px 0 0 200px; }

.block5-art1 .colored { color: #fc8323; }

.block6-head { height: 194px; width: 600px; margin: 54px 0 0 220px; background: url("../images/block6-head.png") 0 0 no-repeat; }

.action-wrap { height: 200px; width: 720px; margin: 20px auto 0; background: url("../images/action-bg.jpg") 100% 0 no-repeat; }

.action-text { width: 560px; margin: 0 auto; font: 16px/22px "ptsansregular", arial; padding: 68px 0 0 4px; }

.action-text .colored { color: #a90022; }

.banner-wrap { height: 368px; width: 768px; margin: 0 auto; background: url("../images/banner-bg.jpg") 0 0 no-repeat; }

.banner-left { width: 370px; height: 300px; float: left; }

.banner-right { height: 320px; width: 257px; margin: 8px 36px 0; float: right; background: url("../images/prod-img.png") 0 0 no-repeat; }

.banner-left h5 { text-align: center; padding: 32px 0 0; font: bold 28px/28px "ptsansregular", arial; margin: 0; color: #fff; }

.banner-left h5 span { font: 22px/28px "ptsansregular", arial; }

.banner-price { height: 81px; margin: 12px 0 0; background: url("../images/price-sep.png") 50% 0 no-repeat; }

.banner-price { font: 22px/28px "ptsansregular", arial; color: #fff; }

.banner-text { padding: 14px 0 0 40px; }

.banner-text .oldprice { text-decoration: line-through; }

.banner-text .newprice { display: inline-block; background: url("price-bg.png") 0 0 no-repeat; padding: 12px 18px; font-weight: bold; font-size: 26px; letter-spacing: -0.1ex; margin: 0 0 0 10px; text-align: center; color: #9b040b; }

.counter-wrap { width: 252px; margin: 0 0 0 58px; }

.counter-wrap p { font: 22px/26px "ptsansregular", arial; color: #fff; text-align: center; margin: 12px 0 14px; }

.counter-list { height: 108px; float: left; width: 274px; background: url("counter-bg.png") 0 0 no-repeat; }

.counter-list li { float: left; color: #9b040b; padding: 14px 8px 8px; font: 48px/48px "ptsansregular", arial; letter-spacing: -0.1ex; margin: 0 21px 0 0; }

.form { width: 570px; background: #fffcdb; margin: 52px auto 36px; border-radius: 30px; }

.form h5 { font: bold 24px/32px "ptsansregular", arial; margin: 0; color: #1a1a1a; padding: 36px 0 16px; text-align: center; }

.form .row, .main-price { width: 276px; margin: 0 auto 13px; text-align: center; }

.row label, .main-price label { font: 15px/18px "ptsansregular", arial; display: block; padding: 0 0 8px 0; }

.row input.text, .row select { border: 1px solid #fff; border-radius: 4px; padding: 0 0 0 6px; background: #fff; box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.42); width: 260px; height: 38px; outline: none; }

.row select { width: 266px; }

.main-price label { text-align: center; padding: 0; }

.main-price span { text-align: center; background: none; border: none; outline: none; color: #bd010a; font: bold 30px/30px "ptsansregular", arial; height: 34px; }

.send-button { display: block; height: 73px; width: 327px; margin: 24px auto 0; background: url("send-button.png") 0 0 no-repeat; border: none; cursor: pointer; }

.send-button:hover { background-position: 0 100%; }

.del-info { width: 66%; text-align: center; margin: 30px auto 0; padding: 0 0 30px; font: 12px/14px "Tahoma"; color: #333; }

.footer-text { width: 660px; margin: 0 auto 20px; font: 12px/14px "ptsansregular", arial; color: #323232; text-align: center; }

.row label.error { font: 14px/14px "Tahoma", arial; color: #e23d4d; width: 320px; display: block; margin: 4px 0 0 4px; padding: 4px 0 4px 24px; background: url("error-sign.png") 0 2px no-repeat; }

.complete .wrapper { padding: 36px 0 0; }

.complete .block7 { border-radius: 30px; }

.complete .form { max-width: 640px; width: 100%; }

.complete .form h5 { font: bold 27px/32px "tahoma", arial; }

.complete .form h5 span { font-weight: normal; display: block; }

.complete .form-text { font: 20px/22px "tahoma", arial; text-align: center; max-width: 580px; padding: 0 10px; margin: -4px auto 32px; }

.complete .row select.text, .complete .row textarea { font-size: 15px; border: 1px solid #fff; border-radius: 4px; outline: none; background: #fff; box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.42); width: 266px; height: 38px; }

.complete .form .row { margin: 0 auto 16px; }

.complete .row textarea { min-height: 100px; }

.complete .send-button { margin: 34px auto 0; }

.complete .del-info { text-align: left; padding: 2px 8px; font: 16px/22px "tahoma", arial; color: #333; width: 80%; }

.complete p { margin: 20px 0; }

.rustem .img1 { display: block; margin: 30px auto 0; left: -13px; position: relative; }

.rustem .img2 { display: none; }

.errorMessage { position: absolute; z-index: 10000; font-size: 14px; background: #e74c3c; color: #fff; padding: 6px 7px 5px; margin: 3px 0px 0px 1px; border-radius: 5px; font-family: Arial; }

/*button begin*/
.ifr_button { font-family: Arial; cursor: pointer; padding: 0; border: none; display: block; margin: 20px auto; color: #fff; font-size: 24px; text-decoration: none; text-align: center; width: 180px; height: 51px; line-height: 51px; background: #e74c3c; font-weight: 700; border-bottom: 2px solid #c0392b; border-radius: 3px; }

.ifr_button:hover { background: #e75c4e; }

.ifr_button:active { background: #c0392b; }

#footer .right-box { float: right; padding: 30px 0 0; width: 320px; }

#footer .right-box .alert2 { display: none; }

#footer .right-box .alert { color: #a70515; font-size: 24px; font-weight: 700; padding: 0 0 7px; text-align: center; }

.banner-left .time { background: transparent url("../images/timer.png") no-repeat scroll 0 11px; padding: 0 0 46px; width: 280px; margin: 0 auto; }

.banner-left .time .name-t { color: #fff; font: 22px/26px "ptsansregular", arial; margin: 12px 0 14px; text-align: center; }

.banner-left .time .landing__countdown { padding: 0 0 0 19px; }

.banner-left .time .landing__countdown span { background: #fff3b2; color: #9b040b; display: inline-block; font-size: 40px; font-weight: 700; height: 56px; line-height: 56px; margin: 0 1px 0 0; padding: 0; position: relative; text-align: center; width: 68px; border-radius: 6px; }

.banner-left .time .landing__countdown span:not(:last-of-type) { margin-right: 22px; }

.banner-left .time .landing__countdown span:not(:last-of-type):after { position: absolute; top: 0; left: 100%; content: ':'; color: #9b040b; font-size: 30px; margin-left: 7px; }

.banner-left .time .coundown_entities { font-size: 0; padding: 3px 0 0 19px; }

.time .coundown_entities span { font-size: 15px; color: #fff3b2; width: 68px; display: inline-block; text-align: center; text-transform: lowercase; }

.banner-left .time .coundown_entities span:not(:last-of-type) { margin-right: 22px; }

/*.banner-left .time span {
    color: #fff3b3;
    font-size: 14px;
    font-weight: 400;
    left: 50%;
    line-height: 10px;
    margin-left: -37px;
    position: absolute;
    text-align: center;
    top: 67px;
    width: 68px;
}
.banner-left .time .hours span {
    margin: 0 0 0 -38px;
}*/
.banner-left .time .dots { background: transparent url("dots.png") no-repeat scroll center center; display: inline-block; font-size: 32px; height: 56px; vertical-align: top; width: 21px; }

.last_bg { background: transparent url("../images/bg5.jpg") no-repeat scroll bottom center; position: relative; width: 760px; margin: 30px auto; padding: 20px 0; }

.last_form { background: white none repeat scroll 0 0; border-radius: 5px; box-shadow: 0 4px 5px 0 #98a8b3; margin: 0 auto; padding-bottom: 20px; width: 447px; }

.last_form span:not(.label):not(.price_main_value):not(.price_main_currency):not(.hint) { color: #e96700; display: block; font-size: 22px; font-weight: bold; padding: 25px 20px 0; text-align: center; }

.last_form span b { color: #e96700; display: block; font-size: 24px; font-weight: bold; text-transform: uppercase; }

.last_form p { display: block; font-size: 1.3em; padding-top: 10px; text-align: center; }

.last_form .form_row { position: relative; }

.last_form .hint { position: absolute; right: 0; font-size: 12px; color: #888888; }

.last_form form { background: transparent url("arr3.png") no-repeat scroll center top; padding: 10px 20px 10px 20px; width: 407px; }

.last_form form input[type="text"] { background: transparent url("../images/input.png") no-repeat scroll 0 0; border: medium none; display: block; font-size: 16px; height: 44px; margin: 0 0 10px 0; text-align: left; width: 407px; padding-left: 20px; }

.last_form form select[class="country_select"] { background: transparent url("../images/input.png") no-repeat scroll 0 0; border: medium none; display: block; font-size: 16px; height: 44px; margin: 0 0 10px 0; text-align: left; width: 407px; padding-left: 20px; }

.last_form form button[type="submit"] { background: transparent url("button3.png") no-repeat scroll center 3px; border: medium none; color: white; cursor: pointer; display: block; font-size: 24px; font-weight: bold; height: 82px; text-transform: uppercase; width: 407px; }

form dd { margin: 0; }

.underline {padding-left: 10px; padding-top: 10px;}
/*button end*/
@media screen and (max-width: 710px) { .block_form { margin-bottom: 14px; }
                                       .block_form label { text-align: left; margin: 8px 21px 7px 0; float: none; }
                                       .block_form div { margin-left: 0px; }
                                       .block_form input { width: 95%; }
                                       .block_form_prices label { float: left; width: auto; }
                                       .int_price_total { margin: 0px; }
                                       .w_block_form_prices { padding-left: 0px; } }

@media (max-width: 1020px) { .block3 h2 { font: bold 30px/30px "cuprumregular", arial; margin: 0; text-align: center; color: #a92d15; clear: both; }
                             .wrapper { width: 98%; max-width: 620px; min-width: 300px; padding: 0 1%; margin: 0 auto; border-top: 0; border-bottom: 0; }
                             .block1-head { height: 166px; width: 593px; margin: 25px auto 0; background: url("../images/block1-head-sm.png") 0 0 no-repeat; }
                             .block1-list { padding: 41px 0 10px 96px; width: 520px; float: none; background: url("../images/block1-list.png") 10px 30px no-repeat; }
                             .block1-list li { font: 19px/23px "cuprumregular", arial; padding: 0 0 26px; }
                             .block1-img { height: 436px; width: 307px; float: none; margin: 0 auto; background: url("../images/block1-img.png") 0 0 no-repeat; }
                             .block1 p { margin: 8px 0 0; font-size: 18px; }
                             .block2-art2 { max-width: 610px; width: 100%; margin: 0 auto; position: relative; }
                             .block2-img { height: 190px; width: 610px; margin: 56px auto 0; background-size: contain; }
                             .art2-text { width: 360px; height: 230px; font: 19px/24px "cuprumregular", arial; }
                             .art2-text.lefted { margin: 0 0 0 26px; }
                             .block2-art2 .art2-img.lefted { margin: 8px 0 0 24px; }
                             .art2-text.righted { margin: 0 0 0 20px; width: 390px; }
                             .block2-art2 .art2-img.righted { margin: -22px 10px 0 0; }
                             .block3 h2 { margin: -10px 0 0; }
                             .block3-text { background: none; height: 100%; margin: 40px auto; }
                             .block3-text-top { padding: 0 0 234px 0; background: url("../images/block3-img.png") 42% 170px no-repeat; }
                             .block3-text-bottom { padding: 0 0 250px 0; background: url("../images/block3-img2.png") 42% 60px no-repeat; }
                             .block3-text-bottom.colored { color: #cc0000; font-size: 22px; }
                             .block3-list { height: 290px; margin: -10px 0 0 20px; padding: 8px 0 0 242px; background-size: contain; }
                             .block3-list li { font: 21px/21px "ptsansregular", arial; letter-spacing: -0.1ex; word-spacing: 2px; color: #fc8323; padding-bottom: 28px; }
                             .block3-list .row1 { padding-left: 0; }
                             .block3-list .row2 { padding-left: 30px; }
                             .block3-list .row3 { padding: 0 0 28px 62px; }
                             .block3-list .row4 { padding-left: 32px; }
                             .block3-list .row5 { padding-left: 2px; }
                             .block3-text p { margin: 0 auto 20px; width: 560px; }
                             .block3-main p { width: 340px; }
                             .block3-main { margin: 0 auto; padding: 0 20px; background: url("../images/block3-main.jpg") 90% 100% no-repeat; }
                             .block4-art1 { height: 304px; width: 600px; margin: 50px 0 0 10px; background-size: cover; }
                             .block4-art1 p { margin: 0; width: 300px; padding: 50px 0 0 300px; font: 16px/24px "ptsansregular", arial; }
                             .block4-art2 { height: 234px; margin: 5px 0 0 10px; background: url("../images/block4-img2.png") 94% 0px no-repeat; background-size: cover; }
                             .block4-art2 p { padding: 10px 0 0 10px; width: 350px; font: 16px/24px "ptsansregular", arial; }
                             .block4-art3 { margin: 12px auto; padding: 28px 40px 22px 0; width: 430px; background: url("../images/block4-img3.jpg") 100% 8px no-repeat; }
                             .block4-art4 { height: 220px; margin: 22px 0 0 10px; background: url("../images/block4-img4.png") 0 0 no-repeat; }
                             .block4-art4 p { width: 340px; padding: 6px 0 0 260px; font: 16px/24px "ptsansregular", arial; }
                             .block5-main { height: 684px; width: 600px; margin: 60px auto 0; background: url("block5-img-sm.jpg") 50% 0 no-repeat; }
                             .block5-text { font: 16px/24px "ptsansregular", arial; width: 92%; margin: 26px auto 0; }
                             .block5-art1 { height: 165px; margin: 30px 0 0 0; background: url("block5-art1-sm.jpg") -10px 0 no-repeat; }
                             .block5-art1 p { font: 15px/22px "ptsansregular", arial; width: 400px; padding: 8px 0 0 210px; }
                             .block6-head { height: 194px; width: 600px; margin: 54px 0 0 20px; background: url("../images/block6-head.png") 0 0 no-repeat; }
                             .action-wrap { height: 169px; width: 600px; margin: 20px auto 0; background: url("../images/action-bg-sm.jpg") 100% 0 no-repeat; }
                             .action-text { width: 500px; margin: 0 auto; font: 15px/20px "ptsansregular", arial; padding: 54px 0 0 10px; }
                             .banner-wrap { height: 292px; width: 610px; margin: 0 auto; background: url("../images/banner-bg-sm.jpg") 0 0 no-repeat; }
                             .banner-left { width: 290px; height: 300px; float: left; }
                             .banner-right { height: 280px; width: 225px; margin: 8px 36px 0; float: right; background: url("../images/prod-img.png") 0 0 no-repeat; background-size: contain; }
                             .banner-left h5 { padding: 20px 0 0; font: bold 24px/24px "ptsansregular", arial; }
                             .banner-left h5 span { font: 22px/28px "ptsansregular", arial; display: none; }
                             .banner-price { height: 72px; margin: 12px 0 0; background: url("price-sep-sm.png") 50% 0 no-repeat; }
                             .banner-text { padding: 10px 0 0 40px; }
                             .banner-text .oldprice { display: none; }
                             .banner-text .newprice { display: inline-block; background: url("price-bg.png") 0 0 no-repeat; padding: 12px 18px; margin: 0 0 0 10px; }
                             .counter-wrap { margin: 0 0 0 18px; }
                             .counter-wrap p { font: 22px/26px "ptsansregular", arial; color: #fff; text-align: center; margin: 10px 0 6px; }
                             .footer-text { width: 580px; margin: 0 auto 20px; font: 12px/14px "ptsansregular", arial; color: #323232; text-align: center; }
                             .complete .form h5 { font: bold 28px/32px "tahoma", arial; }
                             .complete .form h5 span { font-weight: normal; display: block; font-size: 26px; }
                             .complete .form-text { font: 19px/22px "tahoma", arial; text-align: center; max-width: 580px; padding: 0 10px; margin: -4px auto 32px; }
                             .complete .del-info { text-align: left; padding: 2px 14px 20px 14px; font: 14px/16px "tahoma", arial; color: #333; }
                             .last_bg { width: 620px; }
                             .block3-text-bottom { text-align: center; } }

@media (max-width: 630px) { * { max-width: 100%; margin: 0 auto; }
                            body { margin: 0; margin: 0 auto; }
                            .wrapper { width: 300px; max-width: 320px; min-width: 300px; padding: 0 0; margin: 0 auto; }
                            .block1-head { height: 112px; width: 275px; margin: 12px 0 0 28px; background: url("../images/block1-head3.png") 0 0 no-repeat; }
                            .block1-list { padding: 29px 0 10px 56px; width: 250px; background: url("../images/block1-list-sm.png") 0 26px no-repeat; }
                            .block1-list li { font: 16px/21px "cuprumregular", arial; padding: 0 0 27px; }
                            .block1-img { height: 306px; width: 215px; margin: -32px auto 0; background: url("../images/block1-img.png") 0 0 no-repeat; background-size: contain; }
                            .block1 p { font: 16px/20px "cuprumregular", arial; margin: 12px 0 0; }
                            .block1-button, .block3-button { margin: 28px auto 0; height: 65px; width: 264px; background: url("../images/block1-button-sm.png") 0 0 no-repeat; }
                            .block2-img { height: 99px; width: 302px; background: url("../images/block2-img.png") 0 0 no-repeat; background-size: contain; margin: 56px auto 0; }
                            .block2-art1 { height: 212px; width: 100%; margin: 29px auto 0; background: url("../images/block2-art1.png") 0 0 no-repeat; background-size: contain; }
                            .block2-art1 .text { padding: 82px 0 0px 190px; font-size: 10px; width: 100px; line-height: 12px; font-style: italic; color: #636363; }
                            .garant-small { display: none; }
                            .art2-text.lefted { float: none; }
                            .block2-art2 .art2-img.lefted, .block2-art2 .art2-img.righted { margin: 0 auto; float: none; }
                            .block2-art2 .art2-text.lefted, .block2-art2 .art2-text.righted { height: 200px; }
                            .block2-art2 .art2-text { width: 290px; margin: 40px 0 0 6px; float: none; font: 16px/22px "cuprumregular", arial; }
                            .block2-art2 .art2-img { float: none; margin: 0 auto; }
                            .block3 { margin: 70px 0 0; }
                            .block3 h2 { font: bold 30px/30px "cuprumregular", arial; }
                            .block3 h2 .colored { font-size: 18px; display: inline-block; padding: 12px 0 0; }
                            .block3-text { margin: 18px auto 0; }
                            .block3-text p { margin: 0 auto 20px; width: 300px; font: 14px/22px "ptsansregular", arial; }
                            .block3-text-top { padding: 0 0 243px 0; background: url("../images/block3-img.png") 50% 210px no-repeat; }
                            .block3-list { height: 162px; margin: -25px 0px 0 0; padding: 0px 0 0 148px; background: url("../images/block3-list.png") 0 0 no-repeat; background-size: contain; }
                            .block3-list li { font: 10px/13px "ptsansregular", arial; letter-spacing: 0; padding-bottom: 17px; }
                            .block3-list .row1 { padding-left: 0; }
                            .block3-list .row2 { padding: 0 0 6px 10px; }
                            .block3-list .row3 { padding: 0 0 14px 28px; }
                            .block3-list .row4 { padding: 0 0 18px 10px; }
                            .block3-list .row5 { padding-left: 2px; }
                            .block3-main { padding: 0 4px; background: url("../images/block3-main-sm.jpg") 89% 100% no-repeat; }
                            .block3-main h4 { font: bold 14px/20px "ptsansregular", arial; margin: 0; padding: 0 0 4px 0; width: 310px; word-spacing: 0; word-spacing: -0.1ex; }
                            .block3-main p { width: 200px; font: 14px/22px "ptsansregular", arial; margin: 24px 0 0; }
                            .block3-main .girl-text { width: 190px; }
                            .block3-button { margin: 40px auto 0; }
                            .block4-art1 { height: 390px; width: 300px; margin: 50px 0 0 0; background: url("../images/block4-img1.png") 0px 0 no-repeat; }
                            .block4-art1 p, .block4-art2 p { margin: 0; width: 310px; padding: 194px 0 0 4px; font: 14px/22px "ptsansregular", arial; }
                            .block4-art2 { height: 380px; margin: 0; background: url("../images/block4-img2.png") 117% -8px no-repeat; background-size: 670px; }
                            .block4-art2 p { padding: 166px 0 0 4px; }
                            .block4-art3 { margin: 0 auto; width: 224px; padding: 0 80px 0 0; font: 14px/22px "ptsansregular", arial; background: url("../images/block4-img3.jpg") 92% 2px no-repeat; }
                            .block4-art4 { height: 440px; margin: 22px 0 0 6px; background: url("../images/block4-img4.png") 0 0 no-repeat; background-size: initial; }
                            .block4-art4 p { width: 304px; padding: 240px 0 0 0; font: 14px/22px "ptsansregular", arial; }
                            .block5-main { height: 450px; width: 312px; margin: 50px auto 0; background: url("block5-img-sm2.jpg") 50% 0 no-repeat; }
                            .block5-text { font: 14px/22px "ptsansregular", arial; width: 92%; margin: 40px auto 0; }
                            .block5-art1 { height: 400px; margin: 30px 0 0 0; background: url("block5-art1-sm2.jpg") 0 0 no-repeat; }
                            .block5-art1 p { font: 15px/20px "ptsansregular", arial; width: 300px; margin: 0 auto; padding: 170px 0 0 0; text-align: center; }
                            .block6-head { height: 196px; width: 290px; margin: 28px auto 0; background: url("../images/block6-head-sm.png") 0 0 no-repeat; }
                            .action-wrap { height: 268px; width: 314px; margin: 20px auto 0; background: url("action-bg-sm2.jpg") 100% 0 no-repeat; }
                            .action-text { width: 256px; margin: 0 0 0 22px; font: 14px/21px "ptsansregular", arial; padding: 50px 0 0 10px; }
                            .banner-wrap { height: 536px; width: 312px; background: #fc8323; border-radius: 24px; margin: -16px 0 0; }
                            .banner-left { width: 310px; height: 300px; float: none; }
                            .banner-right { display: none; }
                            .banner-left h5 { padding: 30px 0 0; font: bold 27px/29px "ptsansregular", arial; }
                            .banner-left h5 span { display: block; }
                            .banner-main-img { width: 123px; height: 155px; background: url("../images/prod-img.png") 0 0 no-repeat; margin: 0 auto; background-size: contain; }
                            .banner-price { height: 81px; margin: 10px 0 0; background: url("../images/price-sep.png") 50% 0 no-repeat; font: 20px/28px "ptsansregular", arial; }
                            .banner-text { padding: 25px 0 0 0; text-align: center; }
                            .banner-text .oldprice { display: inline-block; }
                            .banner-text .newprice { display: inline-block; background: url("price-bg.png") 0 0 no-repeat; padding: 0; margin: 0; }
                            .counter-wrap { margin: 4px 0 0 26px; }
                            .counter-wrap p { font: 22px/26px "ptsansregular", arial; color: #fff; text-align: center; margin: 10px 0 16px; }
                            .form h5 { font: bold 14px/24px "ptsansregular", arial; padding: 26px 0 16px; text-align: center; }
                            .send-button { height: 57px; width: 254px; margin: 16px auto 0; background: url("send-button-sm.png") 0 0 no-repeat; }
                            .del-info { width: 94%; margin: 24px auto 0; font: 12px/18px "Tahoma"; }
                            .footer-text { width: 96%; margin: 0 auto 20px; font: 12px/18px "ptsansregular", arial; color: #323232; }
                            .complete .form-text { font: 16px/18px "tahoma", arial; text-align: center; max-width: 580px; padding: 0 10px; margin: -4px auto 32px; }
                            .row select.text, .row textarea { border: 1px solid #fff; border-radius: 4px; outline: none; background: #fff; box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.42); width: 266px; height: 38px; }
                            .complete .form .row { margin: 0 auto 16px; }
                            .complete .send-button { margin: 0 auto; }
                            .complete .del-info { text-align: left; padding: 2px 14px 20px 14px; font: 14px/16px "tahoma", arial; color: #333; }
                            .complete p { margin: 10px 0; }
                            .block3-text-bottom { text-align: center; }
                            .rustem .img1 { display: none; }
                            .rustem .img2 { display: block; margin: 20px auto 0; }
                            .block3-text-bottom { background: url("../images/block3-img2.png") 42% 90px no-repeat; }
                            .last_bg { width: 320px; background: #bbdeed url("../images/bg5.jpg") no-repeat scroll bottom center; }
                            .last_form { width: 270px; }
                            .last_form span { color: #e96700; display: block; font-size: 22px; font-weight: bold; padding: 25px 20px 0; text-align: center; }
                            .last_form span b { color: #e96700; display: block; font-size: 24px; font-weight: bold; text-transform: uppercase; }
                            .last_form p { display: block; font-size: 1.3em; padding: 10px; text-align: center; }
                            .last_bg .total_price span { display: inline-block; padding: 0; }
                            .last_form form { background: transparent url("../images/arr3.png") no-repeat scroll center top; padding: 10px 10px 10px 10px; width: 100%; box-sizing: border-box; }
                            .last_form form input[type="text"] { background: transparent url("src="https://thumb.tildacdn.com/tild6366-3733-4330-b131-333862363263/-/resize/280x/-/format/webp/input33.png"") no-repeat scroll 0 0; border: medium none; display: block; font-size: 16px; height: 39px; margin: 0 0 10px 0; text-align: left; width: 100%; box-sizing: border-box; background-size: contain; padding-left: 10px; }
                            .last_form form select[class="country_select"] { background: transparent url("src="https://thumb.tildacdn.com/tild6366-3733-4330-b131-333862363263/-/resize/280x/-/format/webp/input33.png"") no-repeat scroll 0 0; border: medium none; display: block; font-size: 16px; height: 44px; margin: 0 0 10px 0; text-align: left; width: 280px; padding-left: 10px; }
                            .last_form form input[type="submit"] { background: transparent url("../images/button3.png") no-repeat scroll center top; border: medium none; color: white; cursor: pointer; display: block; font-size: 19px; font-weight: bold; height: 82px; text-transform: uppercase; width: 280px; }
                            .block1 .a-button_with_text { font-size: 40px; }
                            .block3 .a-button_with_text.block3-button { font-size: 40px; }
                            .last_form .form_row .hint { bottom: 44px; left: 0; right: 0; text-align: center; }
                            .last_form form.order_form button[type="submit"] { width: 100%; background-size: contain; font-size: 20px; height: 60px; } }

.a-button_with_text { padding: 20px 0; text-align: center; box-sizing: border-box; font-size: 54px; font-weight: 600; color: #fff; text-decoration: none; text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6); }

.a-button_with_text.block3-button { padding: 20px 0 !important; text-align: center; font-size: 60px; }

.banner-left .x_price_current.price_main { background: transparent none repeat scroll 0% 0%; }

.last_bg .total_price { font-size: 20px; text-align: center; }

.last_bg .delivery_info { font-size: 13px; text-align: center; }
.t678{
 max-width: 500px;
margin-left: auto;
margin-right: auto;   
}
.t678 .t-section__topwrapper, .t678__form-bottom-text{
  margin-bottom: 0px;
  margin-top: 0px;
}